.jumbotron {
    padding-top: 6rem;
    background-color: #283845;
    color: #e0e1dd ;
}

.about {
    background-color: #b8b08d;
}

#projects {
    background-color: #283845;
}

.h2 {
    color: #e0e1dd ;
}

.section {
    padding-top: 5rem;
}

.navbar {
    background-color: #202c39;
}

.contact {
    background-color: #b8b08d;
}

.footer {
    background-color: #202c39;
}

.btn {
    background-color: #a99985;
}
